<p style="color: green"><%= notice %></p>

<%= render @post %>

<ul>
  <li><%= link_to "Edit this post", edit_post_path(@post) %></li>
  <li><%= link_to "Back to posts", posts_path %></li>
  <li><%= button_to "Destroy this post", @post, method: :delete %></li>
</ul>
